

<div class="container text-center">
  
    <div class="row">
      <div class="col-sm">
        <div class="divh2">
          <h2 class="h2">Metronome Web</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <button class="btn btn-primary" (click)="toggleMetronome()" title="start/pause">{{ metronomeRunning ? 'Pause' :
          'Start' }}
        </button>
      </div>
    </div>

    <div class="row">
      <div id="tempo" class="col-sm">
        <input class="tempo" type="number" [(ngModel)]="bpm" [disabled]="metronomeRunning" maxlength="3" (keypress)="onKeyPress($event)">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <button class="btn btn-outline-primary" (click)="onTap()">Tap Tempo</button>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm">
        <div class="dropdown">
          <button id="stage-button-pomodoro" class="btn btn-primary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Beat
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="assignBeat(4)" class="dropdown-item" type="button"> 4/4 </button>
            <button (click)="assignBeat(3)" class="dropdown-item" type="button"> 3/4 </button>
            <button (click)="assignBeat(2)" class="dropdown-item" type="button"> 2/4 </button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Sound 1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="assignSound1(6)" class="dropdown-item" type="button">Bleep</button>
            <button (click)="assignSound1(1)" class="dropdown-item" type="button">Bongo1</button>
            <button (click)="assignSound1(2)" class="dropdown-item" type="button">Bongo2</button>
            <button (click)="assignSound1(3)" class="dropdown-item" type="button">Bongo3</button>
            <button (click)="assignSound1(4)" class="dropdown-item" type="button">Bongo4</button>
            <button (click)="assignSound1(5)" class="dropdown-item" type="button">Hihat</button>
            <button (click)="assignSound1(6)" class="dropdown-item" type="button">Kick</button>
            <button (click)="assignSound1(7)" class="dropdown-item" type="button">Perc Hi</button>
            <button (click)="assignSound1(8)" class="dropdown-item" type="button">Snap</button>
            <button (click)="assignSound1(9)" class="dropdown-item" type="button">Snare</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Sound 2
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button (click)="assignSound2(0)" class="dropdown-item" type="button">Bleep</button>
            <button (click)="assignSound2(1)" class="dropdown-item" type="button">Bongo1</button>
            <button (click)="assignSound2(2)" class="dropdown-item" type="button">Bongo2</button>
            <button (click)="assignSound2(3)" class="dropdown-item" type="button">Bongo3</button>
            <button (click)="assignSound2(4)" class="dropdown-item" type="button">Bongo4</button>
            <button (click)="assignSound2(5)" class="dropdown-item" type="button">Hihat</button>
            <button (click)="assignSound2(6)" class="dropdown-item" type="button">Kick</button>
            <button (click)="assignSound2(7)" class="dropdown-item" type="button">Perc Hi</button>
            <button (click)="assignSound2(8)" class="dropdown-item" type="button">Snap</button>
            <button (click)="assignSound2(9)" class="dropdown-item" type="button">Snare</button>
          </div>
        </div>
      </div>
    </div>



</div>