<div class="metronomo">
  <h2>Metronomo Web</h2>
  <div class="cuadro metronomo">
    <div class="sc-cugefK hNDm">
      <button id="stage-button-pomodoro" class="sc-bdVaJa sc-bwzfXH sc-fnwBNb sc-iNhVCk ddKIrH">Beat<span
          class="sc-gbOuXE iVnkaK"></span>
      </button>
  
      <button class="sc-bdVaJa sc-bwzfXH sc-fnwBNb sc-eAKXzc gCvhcJ">Tap <span class="sc-gbOuXE iVnkaK">Tempo</span>
      </button>
   
      <button class="sc-bdVaJa sc-bwzfXH sc-fnwBNb sc-bfYoXt dcxsNp">Sound <span class="sc-gbOuXE iVnkaK"></span>
      </button>
    </div>
    <div id="tempo" >
      
      <input class="tempo" type="number" [(ngModel)]="bpm" [disabled]="metronomeRunning">
      
    </div>
    
  
    <div class="sc-hUfwpO UXHiS">
      
      <button (click)="toggleMetronome()" color="rgb(56 133 138)" title="Press spacebar to start/pause"
        class="sc-bdVaJa sc-htpNat sc-gkFcWv jKHePo">
        {{ metronomeRunning ? 'Pause' : 'Start' }}
      </button>
    </div>
  </div>
</div>




